<!--
	Render an input field for a form
	Takes named arguments and renders any errors below the item
 -->
{% macro render_field(field, text) %}
	<div class="form-group row">
		{{ field.label(class="col-lg-2 field") }}
		<div class="col-lg-10">
			{{ field(class="form-control", placeholder=text, **kwargs)|safe }}
		</div>
	</div>
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<p class="error" style="text-align: right; ">{{ error }}</p>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

<!--
	Render a submit button
 -->
{% macro render_button(button) %}
	<div align="right">
		{{ button(class="btn btn-lg btn-primary", type="submit") }}
	</div>
{% endmacro %}

<!--
	Render multiple submit button
 -->
{% macro render_buttons(buttons) %}
	<div align="right">
		{% for button in buttons %}
			{{ button(class="btn btn-lg btn-primary", type="submit") }}
		{% endfor %}
	</div>
{% endmacro %}

<!--
	Render a nav bar item
 -->
{% macro render_navitem(title, name, link) %}
	<li {% if title and title == name %} class="active" {% endif %} ><a href={{ link }}>{{ name }}</a></li>
{% endmacro %}

<!--
	Render a table
 -->
{% macro render_table(items, headers, fields) %}
<table class="table-striped table-bordered">
	<thead>
		<tr>
			{% for header in headers %}
				<th scope="col" class="tablecell">{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in items %}
			<tr>
				{% for field in fields %}
					<td class="tablecell">{{ row[field] }}</td>
				{% endfor %}
			</tr>

		{% endfor %}

	</tbody>

</table>

{% endmacro %}

<!--
	Render a generic list of dictionaries as a table
 -->
{% macro render_generic_table(items) %}
<table class="table-striped table-bordered">
	<thead>
		<tr>
			{% for k, _ in items[0].items() %}
				<th scope="col">{{ k }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in items %}
			<tr>
				{% for _, v in row.items() %}
					<td class="tablecell">{{ v }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}