<!-- extend from base layout -->
{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_buttons %}
{% block content %}
<html lang="en">
	<body>
		<div class="form-group">
			<h1>Account</h1>
			<form class="form-signin" action="" method="post" name="signup">
			{{ form.hidden_tag() }}

			{{ render_field(form.firstName, "First Name") }}
			{{ render_field(form.lastName, "Last Name") }}
			{{ render_field(form.streetAddress, "Street Address") }}
			{{ render_field(form.city, "City") }}
			{{ render_field(form.state, "State") }}
			{{ render_field(form.zipCode, "Zip Code") }}
			{{ render_field(form.creditCard, "Credit Card", readonly=true) }}
			{{ render_field(form.email, "Email", readonly=true) }}
			{{ render_field(form.accountNo, "AccountNo", readonly=true) }}

			{% if user.employee and (manage_self or user.employee.IsManager) %}
				{{ render_field(form.ssn, "SSN", readonly=true) }}
				{{ render_field(form.startDate, "Start Date", readonly=true) }}
				{{ render_field(form.hourlyRate, "Hourly Rate", readonly=true) }}
			{% endif %}
			<p>
				{{ render_buttons([form.save, form.delete]) }}
			</p>

			{{ render_field(form.accounts, "Accounts") }}
			<p>
				{{ render_button(form.switchAccounts) }}
			</p>
		</form>
		</div>
	</body>
</html>
{% endblock %}