{% from "_formhelpers.html" import render_navitem %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- External files -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Static files -->
		<script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">

		<title>{{ title }} - Macro Polo</title>
	</head>

	<body class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Macro Polo</a>
			</div>
			<ul class="nav navbar-nav">
				{{ render_navitem(title, "Home", "/") }}
				{% if user and user.logged_in %}
					{{ render_navitem(title, "Reservations", "/reservations") }}
					{% if user.employee %}
						{{ render_navitem(title, "Customers", "/customers") }}
						{% if user.employee.IsManager %}
							{{ render_navitem(title, "Flights", "/flights") }}
							{{ render_navitem(title, "Revenue", "/revenue") }}
							{{ render_navitem(title, "Database", "/database") }}
						{% endif %}
					{% endif %}
					{{ render_navitem(title, "Account", "/account") }}
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user and user.logged_in %}
					<li><h2 class="navbar-brand">Welcome back, {{ user.person.FirstName }}!</h2></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% else %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif %}
			</ul>
		  </div>
		</nav>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<u1>
				{% for message in messages %}
					<li class="flash">{{ message }} </li>
				{% endfor %}
				</u1>
		  {% endif %}
		{% endwith %}

		<div class="page">
		{% block content %}{% endblock %}
		</div>

		<div class ="container">
			<center class ="footer">
				Developed by Shaiv Patel, Andrew Raymond, and Nathan Wood
			</center>
		</div>
	</div>
  </body>
</html>