{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_table %}
{% block content %}

<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/flightSearch.css') }}">
</head>

<body>

	{% if user.employee.IsManager %}
		<div class="tab">
			<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Customer')">
				Customers
			</button>
			<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Reservations')">
				Reservations
			</button>
		</div>
	{% endif %}

	{% if user.employee.IsManager %}
		<div id="Customer" class="tabcontent">
			<form class="form-signin" action="" method="post" name="roundTrip">
				{{ customerManager.hidden_tag() }}

				{{ render_field(customerManager.airlineID, "Airline ID") }}
	            {{ render_field(customerManager.flightNo, "Flight No") }}

				{{ render_button(customerManager.search)}}

			</form>
	        {% if customers %}
				<hr>
				<h1>Customers</h1>
				{{ render_table(customers,
					["Account No", "Credit Card No", "Email", "CreationDate", "Rating"],
					["AccountNo", "CreditCardNo", "Email", "CreationDate", "Rating"])
				}}
			{% endif %}
		</div>

		<div id="Reservations" class="tabcontent">
			<form class="form-signin" action="" method="post" name="oneWay">
				{{ reservationManager.hidden_tag() }}

				{{ render_field(reservationManager.airlineID, "Airline ID") }}
	            {{ render_field(reservationManager.flightNo, "Flight No") }}

				{{ render_button(reservationManager.search)}}

			</form>

			{% if reservations %}
				<hr>
				<h1>Reservations</h1>
				{{ render_table(reservations,
					["Reservation No", "Date", "BookingFee", "TotalFare", "Rep SSN", "Account No"],
					["ResrNo", "ResrDate", "BookingFee", "TotalFare", "RepSSN", "AccountNo"])
				}}
			{% endif %}
		</div>
	{% else %}
		<h1>Mailing List</h1>
        {% if mailing_list %}
			{{ render_table(mailing_list,
				["Account No", "First Name", "Last Name", "Email", "Rating"],
				["AccountNo", "FirstName", "LastName", "Email", "Rating"])
			}}
		{% else %}
			<h2>You are not representing anyone.</h2>
		{% endif %}
	{% endif %}

	<script>
		display_tab('tablinks', {{ active|safe }});
	</script>
</body>
{% endblock %}