<!-- extend from base layout -->
{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_generic_table %}
{% block content %}
<html lang="en">
	<body>
		<div class="form-group">
			<h1>Database Management</h1>
			<form class="form-signin" action="" method="post" name="signup">
			{{ form.hidden_tag() }}

			{{ render_field(form.procs, "Procedure") }}
			{{ render_field(form.statements, "Statements") }}
			{{ render_field(form.args, "Arguments") }}

			<p>{{ render_button(form.execute) }}</p>
			{% if results %}
				<hr>
				<h1>Results</h1>
				{{ render_generic_table(results) }}
			{% endif %}
		</form>
		</div>
	</body>
</html>
{% endblock %}