{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_table %}
{% block content %}

<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/flightSearch.css') }}">
</head>

<body>

	<div class="tab">
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Customer')">
			By Customer
		</button>
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Airport')">
			By Airport
		</button>
	</div>

	<div id="Customer" class="tabcontent">
		<form class="form-signin" action="" method="post" name="roundTrip">
			{{ byCustomer.hidden_tag() }}

			{{ render_field(byCustomer.accountNo, "Account Number") }}

			{{ render_button(byCustomer.search)}}

		</form>
        {% if customer_flights %}
			<hr>
			<h1>Flights</h1>
			{{ render_table(customer_flights,
				["ID", "Flight Number", "Number of Seats", "Days Operating", "Min Stay", "Max Stay"],
				["AirlineID", "FlightNo", "NoOfSeats", "DaysOperating", "MinLengthOfStay", "MaxLengthOfStay"])
			}}
		{% endif %}
	</div>

	<div id="Airport" class="tabcontent">
		<form class="form-signin" action="" method="post" name="oneWay">
			{{ byAirport.hidden_tag() }}

			{{ render_field(byAirport.airport, "Airport") }}

			{{ render_button(byAirport.search)}}

		</form>

		{% if airport_flights %}
			<hr>
			<h1>Flights</h1>
			{{ render_table(airport_flights,
				["ID", "Flight Number", "Number of Seats", "Days Operating", "Min Stay", "Max Stay"],
				["AirlineID", "FlightNo", "NoOfSeats", "DaysOperating", "MinLengthOfStay", "MaxLengthOfStay"])
			}}
		{% endif %}
	</div>

	<script>
		display_tab('tablinks', {{ active|safe }});
	</script>
</body>
{% endblock %}