{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_buttons, render_table %}
{% block content %}

<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/flightSearch.css') }}">
</head>

<body>

	<div class="tab">
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Round Trip')">
			Round Trip
		</button>
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'One-Way')">
			One-Way
		</button>
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Multi-City')">
			Multi City
		</button>
	</div>

	<div id="Round Trip" class="tabcontent">
		<form class="form-signin" action="" method="post" name="roundTrip">
			{{ round_trip.hidden_tag() }}

			{{ render_field(round_trip.origin, "Origin City") }}
			{% for flight in round_trip.flights %}
				{{ render_field(flight.destination, "Destination City") }}
				{{ render_field(flight.departing, "Departing Date") }}
			{% endfor %}
			{{ render_field(round_trip.returning, "Returning Date") }}
			{{ render_field(round_trip.numPass, "Number of Passengers") }}

			{{ render_button(round_trip.search)}}

		</form>

		{{ rt_Reserve.hidden_tag() }}

		{% if round_trip_flights %}
			<form class="form-signin" action="" method="post" name="p-e_i.s">
				{% for flights, select in round_trip_flights %}
					<h1>Flights</h1>
					{{ render_table(flights,
						["Airline", "Flight", "Seats", "Days Operating",
							"Min Stay", "Max Stay", "Departure", "Arrival", "Leg"],
						["AirlineID", "FlightNo", "NoOfSeats", "DaysOperating",
							"MinLengthOfStay", "MaxLengthOfStay", "DepTime", "ArrTime", "LegNo"])
					}}
					<hr>
					{{ render_field(select.flight) }}
				{% endfor %}

				{% if user.employee %}
					{{ render_field(rt_Reserve.accounts, "") }}
				{% endif %}
				{{ render_button(rt_Reserve.reserve) }}
			</form>
		{% elif searched and active == 0 %}
			<h2>No flights were found.</h2>
		{% endif %}
	</div>

	<div id="One-Way" class="tabcontent">
		<form class="form-signin" action="" method="post" name="oneWay">
			{{ one_way.hidden_tag() }}

			{{ render_field(one_way.origin, "Origin City") }}
			{% for flight in one_way.flights %}
				{{ render_field(flight.destination, "Destination City") }}
				{{ render_field(flight.departing, "Departing Date") }}
			{% endfor %}
			{{ render_field(one_way.numPass, "Number of Passengers") }}

			{{ render_button(one_way.search)}}

		</form>

		{{ ow_Reserve.hidden_tag() }}

		{% if one_way_flights %}
			<form class="form-signin" action="" method="post" name="p-_n/i.s">
				{% for flights, select in one_way_flights %}
					<h1>Flights</h1>
					{{ render_table(flights,
						["Airline", "Flight", "Seats", "Days Operating",
							"Min Stay", "Max Stay", "Departure", "Arrival", "Leg"],
						["AirlineID", "FlightNo", "NoOfSeats", "DaysOperating",
							"MinLengthOfStay", "MaxLengthOfStay", "DepTime", "ArrTime", "LegNo"])
					}}
					<hr>
					{{ render_field(select.flight) }}
				{% endfor %}

				{% if user.employee %}
					{{ render_field(ow_Reserve.accounts, "") }}
				{% endif %}
				{{ render_button(ow_Reserve.reserve) }}
			</form>

		{% elif searched and active == 1 %}
			<h2>No flights were found.</h2>
		{% endif %}
	</div>

	<div id="Multi-City" class="tabcontent">
		<form class="form-signin" action="" method="post" name="multiCity">
			{{ multi_city.hidden_tag() }}

			{{ render_field(multi_city.origin, "Origin City") }}
			{% for flight in multi_city.flights %}
				{{ render_field(flight.destination, "Destination City") }}
				{{ render_field(flight.departing, "Departing Date") }}
			{% endfor %}

			<p>
				{{ render_buttons([multi_city.add_flight, multi_city.search]) }}
			</p>
		</form>

		{{ mc_Reserve.hidden_tag() }}

		{% if multi_city_flights %}
			<form class="form-signin" action="" method="post" name="p-e_n/.s">
				{% for flights, select in multi_city_flights %}
					<h1>Flights</h1>
					{{ render_table(flights,
						["Airline", "Flight", "Seats", "Days Operating",
							"Min Stay", "Max Stay", "Departure", "Arrival", "Leg"],
						["AirlineID", "FlightNo", "NoOfSeats", "DaysOperating",
							"MinLengthOfStay", "MaxLengthOfStay", "DepTime", "ArrTime", "LegNo"])
					}}
					<hr>
					{{ render_field(select.flight) }}
				{% endfor %}

				{% if user.employee %}
					{{ render_field(mc_Reserve.accounts, "") }}
				{% endif %}
				{{ render_button(mc_Reserve.reserve) }}
			</form>

		{% elif searched and active == 2 %}
			<h2>No flights were found.</h2>
		{% endif %}
	</div>

	<script>
		display_tab('tablinks', {{ active|safe }});
	</script>
</body>
{% endblock %}