<!-- extend from base layout -->
{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_buttons %}
{% block content %}
<html lang="en">
	<body>
		<div class="form-group">
			<h1>Login</h1>
			<form class="form-signin" action="" method="post" name="login">
			{{ form.hidden_tag() }}

			{{ render_field(form.email, "Email") }}
			{{ render_field(form.password, "Password") }}

			<p>
				{{ render_buttons([form.login, form.register]) }}
			</p>

			</form>
		</div>
	</body>
</html>
{% endblock %}