<!-- extend from base layout -->
{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button %}
{% block content %}
<html lang="en">
	<body>
		<div class="form-group">
			<h1>Register</h1>
			<form class="form-signin" action="" method="post" name="signup">
			{{ form.hidden_tag() }}

			{{ render_field(form.firstName, "First Name") }}
			{{ render_field(form.lastName, "Last Name") }}
			{{ render_field(form.streetAddress, "Street Address") }}
			{{ render_field(form.city, "City") }}
			{{ render_field(form.state, "State") }}
			{{ render_field(form.zipCode, "Zip Code") }}
			{{ render_field(form.creditCard, "Credit Card Number") }}
			{{ render_field(form.email, "Email") }}
			{{ render_field(form.password, "Password") }}
			{{ render_field(form.confirm, "Confirm Password") }}

			<p>{{ render_button(form.register) }}</p>
		</form>
		</div>
	</body>
</html>
{% endblock %}