<!-- extend from base layout -->
{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_table %}
{% block content %}
<html lang="en">
	<body>
		<h1>Pending Reservations</h1>

		{% if pending_reservations %}
			{{ render_table(pending_reservations,
				["Number", "Date Made", "Booking Fee", "Representative"],
				["ResrNo", "ResrDate", "BookingFee", "RepId"])
			}}
			<hr>
			<form class="form-signin" action="" method="post" name="p-e_n/i.s">
				{{ render_field(pending_form.reservation) }}
				{{ render_field(pending_form.bid, "$500.00") }}
				{{ render_button(pending_form.make_bid) }}
			</form>
		{% else %}
			<h2>You do not have any pending reservations.</h2>
		{% endif %}

		<hr>
		<h1>Current Reservations</h1>

		{% if current_reservations %}
			{{ render_table(current_reservations,
				["Number", "Date Made", "Booking Fee", "Representative"],
				["ResrNo", "ResrDate", "BookingFee", "RepId"])
			}}
			<hr>
			<form class="form-signin" action="" method="post" name="p-e_n/i.s">
				{{ render_field(current_form.reservation) }}
				{{ render_button(current_form.cancel) }}
			</form>
		{% else %}
			<h2>You do not have any current reservations.</h2>
		{% endif %}

		<hr>
		<h1>Past Reservations</h1>

		{% if past_reservations %}
			{{ render_table(past_reservations,
				["Number", "Date Made", "Booking Fee", "Representative"],
				["ResrNo", "ResrDate", "BookingFee", "RepId"])
			}}
		{% else %}
			<h2>You do not have any past reservations.</h2>
		{% endif %}

		<hr>
		<h1>Bid History</h1>

		{% if bid_history %}
			{{ render_table(bid_history,
				["Bid ID", "Reservation", "Bid Amount", "Accepted?", "Date Made"],
				["BidID", "ResrNo", "Bid", "Accepted", "DateOfBid"])
			}}
		{% else %}
			<h2>You do not have any past reservations.</h2>
		{% endif %}
	</body>
</html>
{% endblock %}