{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_table %}
{% block content %}

<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/flightSearch.css') }}">
</head>

<body>

	<div class="tab">
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Flight')">
			By Flight
		</button>
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Dest City')">
			By Destination City
		</button>
        <button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Customer')">
			By Customer
		</button>
		<button class="tablinks" onclick="open_tab(event, 'tablinks', 'tabcontent', 'Sales Report')">
			Sales Report
		</button>
	</div>

	<div id="Flight" class="tabcontent">
		<form class="form-signin" action="" method="post" name="Flight">
			{{ flightRevenue.hidden_tag() }}

			{{ render_field(flightRevenue.airlineID, "Airline ID") }}
            {{ render_field(flightRevenue.flightNo, "Flight No") }}

			{{ render_button(flightRevenue.search)}}

		</form>
        {% if active == 0 and searched %}
			<h1>Revenue</h1>
			{% if flight_revenue %}
				<h2>That flight has produced a profit of <b>${{ flight_revenue }}</b>.</h2>
			{% else %}
				<h2>That flight has not made a profit.</h2>
			{% endif %}
		{% endif %}
	</div>

	<div id="Dest City" class="tabcontent">
		<form class="form-signin" action="" method="post" name="City">
			{{ cityRevenue.hidden_tag() }}

			{{ render_field(cityRevenue.destCity, "Destination City") }}

			{{ render_button(cityRevenue.search)}}

		</form>
        {% if active == 1 and searched %}
			<h1>Revenue</h1>
			{% if city_revenue %}
				<h2>That city has produced a profit of <b>${{ city_revenue }}</b>.</h2>
			{% else %}
				<h2>No reservations have been made in that city.</h2>
			{% endif %}
		{% endif %}
	</div>

    <div id="Customer" class="tabcontent">
		<form class="form-signin" action="" method="post" name="Customer">
			{{ customerRevenue.hidden_tag() }}

			{{ render_field(customerRevenue.accountNo, "Account Number") }}

			{{ render_button(customerRevenue.search)}}

		</form>
        {% if active == 2 and searched %}
			<h1>Revenue</h1>
			{% if customer_revenue %}
				<h2>That customer has produced a profit of <b>${{ customer_revenue }}</b>.</h2>
			{% else %}
				<h2>That customer has not made any reservations.</h2>
			{% endif %}
		{% endif %}
	</div>

	<div id="Sales Report" class="tabcontent">
		<form class="form-signin" action="" method="post" name="SalesReport">
			{{ salesReport.hidden_tag() }}

			{{ render_field(salesReport.month, "Month") }}
			{{ render_field(salesReport.year, "Year") }}

			{{ render_button(salesReport.search)}}
		</form>

		{% if active == 3 and searched %}
			<h1>Revenue</h1>
			{% if sales_report %}
				{{ render_table(sales_report,
					["Bid ID", "Bid Amount", "Date of Bid", "Booking Fee", "Representative ID"],
					["BidId", "Bid", "DateOfBid", "BookingFee", "RepId"])
				}}
			{% else %}
				<h2>No sales were made that month.</h2>
			{% endif %}
		{% endif %}
	</div>

	<script>
		display_tab('tablinks', {{ active|safe }});
	</script>
</body>
{% endblock %}